<header>
    <div class="header-inner">
        <div class="container">
            <div class="navbar navbar_ clearfix">
                <div class="navbar-inner">
                    <div class="clearfix">
                        <h1 class="brand"><a href="<%= properties.root + pages.indexPage %>"><img src="<%= properties.root %>i/logo.png"
                                                                          alt="" style="height:34px;"></a><span>com.unication</span></h1>

                        <div class="block-sign">
                            <% if (isLoggedIn != true) { %>
                            <a href="<%= properties.root + pages.pageLogin %>">Войти</a>&nbsp; |&nbsp; <a href="<%= properties.root + pages.pageSignUp %>">Регистрация</a>
                            <% } %>
                            <% if (isLoggedIn == true) { %>
                            <a href="<%= properties.root + pages.profilePage %>"><%=user.local.email%></a>
                            <% } %>
                        </div>
                        <div class="clearfix"></div>
                        <div class="menu-search">
                            <div class="nav-collapse nav-collapse_ collapse">
                                <ul class="nav sf-menu clearfix sf-js-enabled">
                                    <li class="active"><a href="<%= properties.root + pages.indexPage %>">Стартовая</a></li>
                                    <!--<li><a href="<%= properties.root + pages.companyPage %>">О Компании</a></li>-->
                                    <li class="sub-menu"><a href="<%= properties.root + pages.servicesPage %>">Все курсы</a>
                                        <!--<ul class="sub-menu" style="display: none;">-->
                                            <!--<li><a href="#">Курсы</a>-->
                                                <!--<ul class="sub-menu" style="display: none;">-->
                                                    <!--<li><a href="#">Online Fax</a></li>-->
                                                    <!--<li><a href="#">Hosted Email</a></li>-->
                                                    <!--<li><a href="#">Online Backup</a></li>-->
                                                <!--</ul>-->

                                            <!--</li>-->
                                            <!--<li><a href="#">Overview</a></li>-->
                                            <!--<li><a href="#">How it works</a></li>-->
                                        <!--</ul>-->
                                    </li>
                                    <li><a href="<%= properties.root + pages.profilePage %>">Мой профиль</a></li>
                                    <li><a href="<%= properties.root + pages.contactsPage %>">Контакты</a></li>
                                </ul>
                                <!--<select class="select-menu" style="display: inline-block;">-->
                                    <!--<option value="#">Navigate to...</option>-->
                                    <!--<option value="<%= properties.root + pages.indexPage %>">Home</option>-->
                                    <!--<option value="http://livedemo00.template-help.com/wt_44201/company.html">Company-->
                                    <!--</option>-->
                                    <!--<option value="<%= properties.root + pages.servicesPage %>">Курсы</option>-->
                                    <!--<option value="http://livedemo00.template-help.com/wt_44201/#">––Веб разработка-->
                                    <!--</option>-->
                                    <!--<option value="http://livedemo00.template-help.com/wt_44201/#">–––Online Fax-->
                                    <!--</option>-->
                                    <!--<option value="http://livedemo00.template-help.com/wt_44201/#">–––Hosted Email-->
                                    <!--</option>-->
                                    <!--<option value="http://livedemo00.template-help.com/wt_44201/#">–––Online Backup-->
                                    <!--</option>-->
                                    <!--<option value="http://livedemo00.template-help.com/wt_44201/#">––Overview</option>-->
                                    <!--<option value="http://livedemo00.template-help.com/wt_44201/#">––How it works-->
                                    <!--</option>-->
                                    <!--<option value="<%= properties.root + pages.blogPage %>">Media</option>-->
                                    <!--<option value="<%= properties.root + pages.contactsPage %>">-->
                                        <!--Contacts-->
                                    <!--</option>-->
                                <!--</select>-->
                            </div>
                            <form id="search" action="search.php" method="GET" accept-charset="utf-8">
                                <input type="text" value="" name="s">
                                <a href="#" onclick="document.getElementById('search').submit()"></a>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>